[submodule "app/external/"]
	path = app/external/
	url = https://github.com/leethomason/tinyxml2.git
[submodule "app/external/tinyxml2"]
	path = app/external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "app/external/date"]
	path = app/external/date
	url = https://github.com/HowardHinnant/date.git
