[submodule "date"]
    path = app/external/date
	url = https://github.com/HowardHinnant/date.git
    branch = master
[submodule "tinyxml2"]
    path = app/external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
    branch = master
